<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My World - Dashboard</title>
    <link rel="stylesheet" href="../../static/exam_app/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="header">
            <h5>| <a href="/logout">Logout</a></h5>
            <form action="/add_trip_form" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg" role="button" value="Add a NewTrip!"></input>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <h1>Hey There!</h1>
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <h4>Your Trips...</h4>
                <div class="m-auto">
                    <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Destination</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Plan</th>
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trip in trips %}
                                <tr>
                                    <td><a href="/trips/view/{{trip.id}}">{{ trip.destination }}</a></td>
                                    <td>{{ trip.start_date }}</td>
                                    <!-- <td><a href="/trips/edit/{{trip.id}}">{{ trip.destination }}</a></td> -->
                                    <td>{{ trip.end_date }}</td>
                                    <td>{{ trip.plan }}</td>
                                    <td>
                                        <a href="/trips/edit/{{trip.id}}">Edit</a> |
                                        <a href="/remove_trip/{{trip.id}}">Remove</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                    </table>

                </div>

            </div>
            <!-- <div class="col-6">
                <a href="http://google.com">google</a>
            </div> -->
          </div>
      </div>
  </body>
  </html>