<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="../../static/exam_app/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
      <div id="header">
          <h1>* * * Welcome {{user.first_name}} * * *</h1>
          <div class="user_tools">
              <a href="/user_home">Let me see my home page!</a>
              <a href="/logout">Logout</a>
          </div>
      </div>
        <div class="row">
            <div class="col-6">
                <h1>...sapce...</h1>
            </div>
            <div class="col-6">
                <h1>People You May Know...</h1>
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">ID#</th>
                      <th scope="col">Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                      <tr>
                        <td>{{user.id}}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
      </div>
  </body>
  </html>