<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handy Helper 2</title>
    <link rel="stylesheet" href="../../static/exam2_app/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col-6">
                <h1>What about this job would you like to change {{user.first_name}}?</h1>
                <p class="title">You may modify the information below</p>
                <form action="/jobs/edit/{{job.id}}" method="POST">
                    {% csrf_token %}
                    <p class="lead">Job Name:<input type="text" name="title"></p>
                    <p class="lead">Description: <input type="text" name="description"></p>
                    <p class="lead">Location: <input type="text" name="location"></p>
                    <input type="submit" class="btn btn-primary btn-lg" role="button" value="Submit Changes"></input>
                </form>
                <br>
                <a class="btn btn-secondary" href="/dashboard" role="button">Dashboard</a>
            </div>
            <div class="col-6">
                <h1>Current Job List</h1>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Job Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td>{{ job.title }}</td>
                                <td>{{ job.description }}</td>
                                <td>{{ job.location }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>