*{
    padding: 0px;
    margin: 0px;
}
.container{
    background-image: linear-gradient(rgb(106, 239, 94),rgb(10, 68, 161));
    width: 2800px;
    min-height: 700px;
    height: auto;
}
.button{
    padding: 30px;
}