*{
    padding: 0px;
    margin: 0px;
}
.container{
    background-image: linear-gradient(rgb(106, 239, 94),rgb(10, 68, 161));
    /* background-color: aquamarine; */
}
.button{
    padding: 30px;
}


/* .Center-Container {
    position: relative;
    height: 100%;
  }
  
  .Absolute-Center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: solid black;
  } */